@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma-print@1.0.0/css/bulma-print.css";

.cursor-resize {
  cursor: ew-resize;
}

p.indent {
  text-indent: 1.5em;
}

@media print {
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  * {
    color: black !important;
    background: white !important;
  }

  .header {
    position: fixed;
    top: 0cm;
  }
  .footer {
    position: fixed;
    bottom: 0cm;
  }

  @page {
    margin: 0.9cm 0.5cm 0.9cm 0.5cm !important;
  }
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    margin: 0 !important;
    background: #fff none !important;
    color: #000 !important;
  }

  /*h1 {font-size: 18pt;}*/
  /*h2, h3, h4 {*/
  /*    font-size: 12pt;*/
  /*    margin-top: 20px;*/
  /*}*/
  a {
    page-break-inside: avoid;
  }
  p {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
}
